.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 20px;
}

.image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 20px;
}

.username {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 30px;
}

.username2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 30px;
}

.caption {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 30px;
}

.caption2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 30px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}